.mkjl-1544 .mkjl-erubca.mkjl-erubca-d3dd561 > .mkjl-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-d3dd561 {
  box-shadow: 10px 0px 13px 7px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.mkjl-bc-flex-widget
  .mkjl-1544
  .mkjl-erubca.mkjl-erubca-9671ebd.mkjl-column
  .mkjl-widget-con {
  align-items: center;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-9671ebd.mkjl-column.mkjl-erubca[data-erubca_type="column"]
  > .mkjl-widget-con.mkjl-erubca-populated {
  align-contentent: center;
  align-items: center;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-9671ebd.mkjl-column > .mkjl-widget-con {
  justify-content: center;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e5efef1.mkjl-position-right
  .mkjl-image-box-img {
  margin-left: 0px;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e5efef1.mkjl-position-left
  .mkjl-image-box-img {
  margin-right: 0px;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e5efef1.mkjl-position-top
  .mkjl-image-box-img {
  margin-bottom: 0px;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e5efef1
  .mkjl-image-box-conper
  .mkjl-image-box-img {
  width: 44%;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-e5efef1 .mkjl-image-box-img img {
  border-style: solid;
  border-color: var(--e-global-color-secondary);
  border-radius: 20px;
  transition-duration: 0.3s;
}
.mkjl-bc-flex-widget
  .mkjl-1544
  .mkjl-erubca.mkjl-erubca-a0b4d6c.mkjl-column
  .mkjl-widget-con {
  align-items: center;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-a0b4d6c.mkjl-column.mkjl-erubca[data-erubca_type="column"]
  > .mkjl-widget-con.mkjl-erubca-populated {
  align-contentent: center;
  align-items: center;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-a0b4d6c.mkjl-column > .mkjl-widget-con {
  justify-content: center;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-44cfda5 .header-card--horizontal {
  justify-content: center;
  text-align: center;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-44cfda5
  .header-card--vertical
  .vnar-hghdcx-link-top {
  justify-content: center;
  text-align: center;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-44cfda5
  .header-card--vertical-sub-bottom
  .vnar-hghdcx-link-sub {
  justify-content: center;
  text-align: center;
}
body:not(.rtl)
  .mkjl-1544
  .mkjl-erubca.mkjl-erubca-44cfda5
  .header-card--horizontal
  .header-card__sub {
  text-align: left;
}
body.rtl
  .mkjl-1544
  .mkjl-erubca.mkjl-erubca-44cfda5
  .header-card--horizontal
  .header-card__sub {
  text-align: right;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-44cfda5 .vnar-hghdcx-link-top {
  color: var(--e-global-color-secondary);
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-44cfda5
  .vnar-hghdcx-link-top
  .header-card-arrow {
  color: var(--e-global-color-text);
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-44cfda5
  .vnar-hghdcx-link-top
  .header-card-link-text {
  font-size: 18px;
  font-weight: 500;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-44cfda5
  .vnar-hghdcx-link-sub
  .header-card-link-text {
  font-size: 18px;
  font-weight: 400;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-44cfda5 .vnar-hghdcx-link-sub {
  color: var(--e-global-color-secondary);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-44cfda5 .header-card__mobile-trigger {
  color: var(--e-global-color-secondary);
  font-size: 24px;
}
.mkjl-bc-flex-widget
  .mkjl-1544
  .mkjl-erubca.mkjl-erubca-7fb78a3.mkjl-column
  .mkjl-widget-con {
  align-items: center;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-7fb78a3.mkjl-column.mkjl-erubca[data-erubca_type="column"]
  > .mkjl-widget-con.mkjl-erubca-populated {
  align-contentent: center;
  align-items: center;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-7fb78a3.mkjl-column > .mkjl-widget-con {
  justify-content: center;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-e48e72d .jet-droprety__inner {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-e48e72d .jet-droprety__content-conper {
  top: 100%;
  bottom: auto;
  left: 0;
  right: auto;
  transform: none;
  width: 100%;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-position-top-"]
  .jet-droprety__content-conper {
  margin: 0 0 10px 0;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-position-bottom-"]
  .jet-droprety__content-conper {
  margin: 10px 0 0 0;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-position-left-"]
  .jet-droprety__content-conper {
  margin: 0 10px 0 0;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-position-right-"]
  .jet-droprety__content-conper {
  margin: 0 0 0 10px;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-position-top-"]
  .jet-droprety__content-conper:before {
  top: 100%;
  bottom: auto;
  left: 0;
  right: 0;
  height: 10px;
  width: 100%;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-position-bottom-"]
  .jet-droprety__content-conper:before {
  top: auto;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 10px;
  width: 100%;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-position-left-"]
  .jet-droprety__content-conper:before {
  top: 0;
  bottom: 0;
  left: 100%;
  right: auto;
  height: 100%;
  width: 10px;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-position-right-"]
  .jet-droprety__content-conper:before {
  top: 0;
  bottom: 0;
  left: auto;
  right: 100%;
  height: 100%;
  width: 10px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-e48e72d .jet-droprety__button {
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-e48e72d .jet-droprety__button img {
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-e48e72d .jet-droprety__content {
  text-align: center;
  border-radius: 20px 20px 20px 20px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-986d4b4 {
  padding: 15px 0px 0px 0px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-19471b1.mkjl-column > .mkjl-widget-con {
  justify-content: flex-start;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-29e81c9 {
  text-align: center;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-29e81c9 > .mkjl-widget-content {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-788e293 .jet-breadcrumbs__item-link {
  color: var(--e-global-color-primary);
  padding: 0px 0px 0px 0px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-788e293 .jet-breadcrumbs__item-target {
  padding: 0px 0px 0px 0px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c494693 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.4px;
  word-spacing: 8px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c494693 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c494693 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-6a641ba {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-6a641ba > .mkjl-widget-content {
  margin: 0px 0px 0px 0px;
}
.mkjl-bc-flex-widget
  .mkjl-1544
  .mkjl-erubca.mkjl-erubca-198ceed.mkjl-column
  .mkjl-widget-con {
  align-items: center;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-198ceed.mkjl-column.mkjl-erubca[data-erubca_type="column"]
  > .mkjl-widget-con.mkjl-erubca-populated {
  align-contentent: center;
  align-items: center;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-198ceed.mkjl-column > .mkjl-widget-con {
  justify-content: center;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-ce7eca0 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  word-spacing: 5px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-ce7eca0 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-ce7eca0 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-80e9a82 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-80e9a82 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-80e9a82 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c20628b .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.3px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c20628b .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c20628b .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-6827b65 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  word-spacing: 5px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-6827b65 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-6827b65 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-a016f21 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.4px;
  word-spacing: 8px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-a016f21 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-a016f21 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c0018c1 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9px;
  word-spacing: 8px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c0018c1 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c0018c1 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-85a0e5c .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1.3px;
  word-spacing: 5px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-85a0e5c .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-85a0e5c .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-a3077fd {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-a3077fd > .mkjl-widget-content {
  margin: 0px 0px 0px 0px;
}
.mkjl-bc-flex-widget
  .mkjl-1544
  .mkjl-erubca.mkjl-erubca-cf818b6.mkjl-column
  .mkjl-widget-con {
  align-items: center;
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-cf818b6.mkjl-column.mkjl-erubca[data-erubca_type="column"]
  > .mkjl-widget-con.mkjl-erubca-populated {
  align-contentent: center;
  align-items: center;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-cf818b6.mkjl-column > .mkjl-widget-con {
  justify-content: center;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-a02df42 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  word-spacing: 8px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-a02df42 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-a02df42 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-bedb962 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-bedb962 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-bedb962 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-ab2883b .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.3px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-ab2883b .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-ab2883b .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-b75f574 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  word-spacing: 5px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-b75f574 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-b75f574 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-d4eba79 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.4px;
  word-spacing: 8px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-d4eba79 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-d4eba79 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-5fdcce7 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9px;
  word-spacing: 8px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-5fdcce7 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-5fdcce7 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-f5e89ef .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1.3px;
  word-spacing: 5px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-f5e89ef .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-f5e89ef .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-09a8c32 {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-09a8c32 > .mkjl-widget-content {
  margin: 0px 0px 0px 0px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-592da8e {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-592da8e > .mkjl-widget-content {
  margin: 0px 0px 0px 0px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-07dcb1f .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  word-spacing: 8px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-07dcb1f .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-07dcb1f .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-ff14233 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.3px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-ff14233 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-ff14233 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-f4a804b .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-f4a804b .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-f4a804b .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c94525b .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  word-spacing: 5px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c94525b .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-c94525b .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-e60a748 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.4px;
  word-spacing: 8px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-e60a748 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-e60a748 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-08e3e41 .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9px;
  word-spacing: 8px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-08e3e41 .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-08e3e41 .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-65be66a .mkjl-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1.3px;
  word-spacing: 5px;
  background-color: var(--e-global-color-primary);
  border-radius: 25px 25px 25px 25px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-65be66a .mkjl-button:hover,
.mkjl-1544 .mkjl-erubca.mkjl-erubca-65be66a .mkjl-button:focus {
  background-color: var(--e-global-color-accent);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-de6c2f4 {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-de6c2f4 > .mkjl-widget-content {
  margin: 0px 0px 0px 0px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-28a7435 .mkjl-heading-title {
  color: var(--e-global-color-secondary);
}
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-b484398:not(
    .mkjl-motion-effects-erubca-type-background
  ),
.mkjl-1544
  .mkjl-erubca.mkjl-erubca-b484398
  > .mkjl-motion-effects-content
  > .mkjl-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-b484398 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 25px;
  margin-bottom: 0px;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-b484398 > .mkjl-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.mkjl-1544 .mkjl-erubca.mkjl-erubca-7d7106a {
  color: #ffffff;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
@media (max-width: 1024px) {
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-tablet-position-top-"]
    .jet-droprety__content-conper {
    margin: 0 0 10px 0;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-tablet-position-bottom-"]
    .jet-droprety__content-conper {
    margin: 10px 0 0 0;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-tablet-position-left-"]
    .jet-droprety__content-conper {
    margin: 0 10px 0 0;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-tablet-position-right-"]
    .jet-droprety__content-conper {
    margin: 0 0 0 10px;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-tablet-position-top-"]
    .jet-droprety__content-conper:before {
    top: 100%;
    bottom: auto;
    left: 0;
    right: 0;
    height: 10px;
    width: 100%;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-tablet-position-bottom-"]
    .jet-droprety__content-conper:before {
    top: auto;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 10px;
    width: 100%;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-tablet-position-left-"]
    .jet-droprety__content-conper:before {
    top: 0;
    bottom: 0;
    left: 100%;
    right: auto;
    height: 100%;
    width: 10px;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-tablet-position-right-"]
    .jet-droprety__content-conper:before {
    top: 0;
    bottom: 0;
    left: auto;
    right: 100%;
    height: 100%;
    width: 10px;
  }
}
@media (min-width: 768px) {
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-9671ebd {
    width: 15.029%;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-a0b4d6c {
    width: 76.124%;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-7fb78a3 {
    width: 8.513%;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-198ceed {
    width: 27%;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-b3f9b47 {
    width: 73%;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-b2e6639 {
    width: 73%;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-cf818b6 {
    width: 27%;
  }
}
@media (max-width: 767px) {
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-9671ebd {
    width: 33%;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-e5efef1 .mkjl-image-box-img {
    margin-bottom: 0px;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-a0b4d6c {
    width: 50px;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-44cfda5
    .jet-mobile-menu
    .vnar-hghdcx-link {
    justify-content: flex-end;
    text-align: right;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-44cfda5 .header-card--horizontal {
    justify-content: flex-end;
    text-align: right;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-44cfda5
    .header-card--vertical
    .vnar-hghdcx-link-top {
    justify-content: flex-end;
    text-align: right;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-44cfda5
    .header-card--vertical-sub-bottom
    .vnar-hghdcx-link-sub {
    justify-content: flex-end;
    text-align: right;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-7fb78a3 {
    width: 33%;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-mobile-position-top-"]
    .jet-droprety__content-conper {
    margin: 0 0 10px 0;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-mobile-position-bottom-"]
    .jet-droprety__content-conper {
    margin: 10px 0 0 0;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-mobile-position-left-"]
    .jet-droprety__content-conper {
    margin: 0 10px 0 0;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-mobile-position-right-"]
    .jet-droprety__content-conper {
    margin: 0 0 0 10px;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-mobile-position-top-"]
    .jet-droprety__content-conper:before {
    top: 100%;
    bottom: auto;
    left: 0;
    right: 0;
    height: 10px;
    width: 100%;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-mobile-position-bottom-"]
    .jet-droprety__content-conper:before {
    top: auto;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 10px;
    width: 100%;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-mobile-position-left-"]
    .jet-droprety__content-conper:before {
    top: 0;
    bottom: 0;
    left: 100%;
    right: auto;
    height: 100%;
    width: 10px;
  }
  .mkjl-1544
    .mkjl-erubca.mkjl-erubca-e48e72d[class*="jet-dropbar-mobile-position-right-"]
    .jet-droprety__content-conper:before {
    top: 0;
    bottom: 0;
    left: auto;
    right: 100%;
    height: 100%;
    width: 10px;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-29e81c9 {
    text-align: center;
  }
  .mkjl-1544 .mkjl-erubca.mkjl-erubca-788e293 .jet-breadcrumbs {
    text-align: center;
  }
}
